<?xml version="1.0" encoding="UTF-8"?>
<beans	xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
							http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<context:component-scan base-package="net.draconia.church.usherschedule" />
	
	<bean class="net.draconia.church.ApplicationContextProvider" id="applicationContextProvider" />
	
	<bean class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" id="dataSource">
		<property name="driverClassName" value="org.sqlite.JDBC" />
		<property name="url" value="jdbc:sqlite:Schedule.db" />
	</bean>
	
	<bean class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" id="hibernate5SessionFactory">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="net.draconia.church.usherschedule.domain" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
			</props>
		</property>
	</bean>
	
	<bean class="javax.swing.JTextField" id="ScheduleDetailsId">
		<constructor-arg index="0">
			<value type="int">30</value>
		</constructor-arg>
		<property name="border">
			<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
				<property name="staticMethod" value="javax.swing.BorderFactory.createEmptyBorder" />
			</bean>
		</property>
		<property name="editable" value="false" />
	</bean>
	
	<bean class="javax.swing.JLabel" id="ScheduleDetailsIdLabel">
		<constructor-arg index="0" value="Id:" />
		<property name="labelFor" ref="ScheduleDetailsId" />
	</bean>
	
	<bean class="javax.swing.JTextField" id="ScheduleDetailsName">
		<constructor-arg index="0">
			<value type="int">30</value>
		</constructor-arg>
		<property name="border">
			<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
				<property name="staticMethod" value="javax.swing.BorderFactory.createLoweredBevelBorder" />
			</bean>
		</property>
		<property name="enabled" value="false" />
	</bean>
	
	<bean class="javax.swing.JLabel" id="ScheduleDetailsNameLabel">
		<constructor-arg index="0" value="Name:" />
		<property name="labelFor" ref="ScheduleDetailsName" />
	</bean>
	
	<bean class="net.draconia.ui.listdetails.ButtonsPanel" id="ScheduleMainButtonPanel" />
	<bean class="net.draconia.ui.listdetails.ButtonsPanel" id="ScheduleListButtonPanel" />
	<bean class="net.draconia.ui.listdetails.ButtonsPanel" id="ScheduleDetailButtonPanel" />
	
	<bean class="javax.swing.JTable" id="tblScheduleList" />
	<bean class="javax.swing.JScrollPane" id="ScheduleListScrollPane">
		<constructor-arg index="0" ref="tblScheduleList" />
		<constructor-arg index="1">
			<bean class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
				<property name="staticField" value="javax.swing.JScrollPane.VERTICAL_SCROLLBAR_AS_NEEDED" />
			</bean>
		</constructor-arg>
		<constructor-arg index="2">
			<bean class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
				<property name="staticField" value="javax.swing.JScrollPane.HORIZONTAL_SCROLLBAR_AS_NEEDED" />
			</bean>
		</constructor-arg>
		<property name="enabled" value="false" />
	</bean>
</beans>